@font-face {
    font-family: Monserrat;
    src: url(Assets/Fonts/Montserrat-VariableFont_wght.ttf)
}

@font-face {
    font-family: bedstead;
    src: url(Assets/Fonts/bedstead.otf)
}

@font-face {
    font-family: BMN;
    src: url(Assets/Fonts/BITING-MY-NAILS.TTF)
}

#page2Title {
    font-family: bedstead;
}

#page2Desc {
    font-family: bedstead
}

#mainBody {
    font-family: BMN;
}